body{
    background-color: beige;
}

h2{
    text-align: center;
    color: blue;
}

#container{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    
}

#container div{
    padding: 30px;
    background-color: rgb(127, 117, 177);
    color: #fff;
}