{% extends 'base.html' %}

{% block content %}
    <p class="text-center">
    {% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
    {% else %}
        Hello Anonymous User!
    {% endif %}
    </p>
    <h4 class="text-center">
        <a class="btn btn-primary" href="{% url 'to_do_app:todo_create'%}">
            Create a todo
        </a>
    </h4>
    <p class="text-center"> List of todos!</p>
    <div class="col-4 offset-4">
    {% for todo in todo %}
        <div class="card" mt-3>
            <div class="card-header">
                <a href="{% url 'to_do_app:todo_detail' todo.pk%}"><h4>
                    {{ todo.name }}
                </h4></a>
            </div>
            <div class="card-body">
                <p>
                    it's due {{todo.due_date}}
                </p>
            </div>    
        </div>
    {% endfor %}
    </div>   
{% endblock content %}
    
